.bestseller {
    padding-bottom: 100px;
    @include mobile{
        padding-bottom: 40px;
    }
    
}

.bestseller__title {
    padding: 48px 0;
    @include mobile{
        text-align: center;
        padding: 40px 0 16px;
    }
}

.bestseller__cards {
    display: grid;
    gap: 48px 24px;
    grid-template-columns: repeat(auto-fit, minmax(262px, 1fr));

    @include mobile{
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 16px 8px;
    }
}