
  <article class="card">
    <div class="card__picture">
      <img
        src="./img/arrivals/@@img.jpg"
        srcset="./img/arrivals/@@img@2x.jpg 2x"
        alt="itempic"
      />
      <div class="card__new">@@status</div>
      <div class="card__like">
        <img src="./img/icons/like.svg" alt="like" />
      </div>
      <div class="card__btn">
        <button class="btn btn--small btn--wide">Add to cart</button>
      </div>
    </div>
    <div class="card__desc">
      <div class="card__rating">
        @@for(var i = 0; i < context.rating; i++){

        <img src="./img/icons/StarFill.svg" alt="star" />
        }
        <!-- <img src="./img/icons/StarFill.svg" alt="star" />
          <img src="./img/icons/StarFill.svg" alt="star" />
          <img src="./img/icons/StarFill.svg" alt="star" />
          <img src="./img/icons/StarFill.svg" alt="star" /> -->
      </div>
      <div class="card__title card__title--elipsis">@@title</div>
      <div class="card__price">@@price</div>
    </div>
    <a href="#" class="card__link"></a>
  </article>

